# List requirements strictly here, so that a best known config can
# always be reproduced for testing and development.
#
# Also add requirements to setup.py, but do not pin to a strict
# version requirement there unless necessary.

numpy>=1.13.1
h5py==2.6.0
six==1.10.0

# other requirements
requests==2.13.0
frozendict==1.2
orderedset==2.0
tqdm==4.11.2
future==0.16.0
configargparse==0.11.0
cachetools==2.0.0
decorator==4.0.11

# neon frontend
parsel==1.2.0

